{% extends 'base.html' %}

{% block content %}
</br> </br> </br>
<img src="{{url_for('static', filename='images/cadastro/CadastrarBackground.jpg')}}"  id="FacaOcadastro">
	<div id="BackgroundCadastro">
		<form id="forum" method='POST'>
			<br></br></br></br>
		 <form method="POST">
		{{form.hidden_tag()}}
		{{form.csrf_token}}
	<div class="form-group">
		{{form.usuario.label}}
		{{form.usuario}}
  	</div>
  	<div class="form-group">
		{{form.email.label}}
		{{form.email}}
  	</div>
  	<div class="form-group">
		{{form.password.label}}
		{{form.password}}
  	</div>
	    {{form.submit}}
	</br>
	
</form>  
{% endblock %}
